[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flake8 = "7.0.0"
isort = "5.13.2"
black = "24.2.0"
django = "4.2.11"

[dev-packages]

[requires]
python_version = "3.12"
