[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.11"
requests = "2.31.0"
djangorestframework = "3.15.1"

[dev-packages]
flake8 = "7.0.0"
isort = "5.13.2"
black = "24.3.0"

[requires]
python_version = "3.12"
